<mat-card>
    <mat-card-header>
        <h2>Client List</h2>
    </mat-card-header>
    <mat-card-content>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">

                <!-- Position Column -->
                <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Client </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef> Code </th>
                    <td mat-cell *matCellDef="let element"> {{element.code}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="person_name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.person_name}} </td>
                </ng-container>

                <ng-container matColumnDef="department">
                    <th mat-header-cell *matHeaderCellDef> Department </th>
                    <td mat-cell *matCellDef="let element"> {{element.department}} </td>
                </ng-container>

                <ng-container matColumnDef="designation">
                    <th mat-header-cell *matHeaderCellDef> Designation </th>
                    <td mat-cell *matCellDef="let element"> {{element.designation}} </td>
                </ng-container>

                <ng-container matColumnDef="address">
                    <th mat-header-cell *matHeaderCellDef> Address </th>
                    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                </ng-container>

                <ng-container matColumnDef="country">
                    <th mat-header-cell *matHeaderCellDef> Country </th>
                    <td mat-cell *matCellDef="let element"> {{element.country}} </td>
                </ng-container>

                <ng-container matColumnDef="state">
                    <th mat-header-cell *matHeaderCellDef> State </th>
                    <td mat-cell *matCellDef="let element"> {{element.state}} </td>
                </ng-container>

                <ng-container matColumnDef="city">
                    <th mat-header-cell *matHeaderCellDef> City </th>
                    <td mat-cell *matCellDef="let element"> {{element.city}} </td>
                </ng-container>


                <ng-container matColumnDef="mobileNo">
                    <th mat-header-cell *matHeaderCellDef> Mobile No </th>
                    <td mat-cell *matCellDef="let element"> {{element.mobileNo}} </td>
                </ng-container>


                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Email </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>


                <ng-container matColumnDef="gstNo">
                    <th mat-header-cell *matHeaderCellDef> GST No </th>
                    <td mat-cell *matCellDef="let element"> {{element.gstNo}} </td>
                </ng-container>

                <ng-container matColumnDef="panNo">
                    <th mat-header-cell *matHeaderCellDef> PAN No </th>
                    <td mat-cell *matCellDef="let element"> {{element.panNo}} </td>
                </ng-container>

                <ng-container matColumnDef="latitude">
                    <th mat-header-cell *matHeaderCellDef> Latitude </th>
                    <td mat-cell *matCellDef="let element"> {{element.latitude}} </td>
                </ng-container>

                <ng-container matColumnDef="longitude">
                    <th mat-header-cell *matHeaderCellDef> Longitude  </th>
                    <td mat-cell *matCellDef="let element"> {{element.longitude}} </td>
                </ng-container>

                <ng-container matColumnDef="pinCode">
                    <th mat-header-cell *matHeaderCellDef> PinCode </th>
                    <td mat-cell *matCellDef="let element"> {{element.pinCode}} </td>
                </ng-container>

                <ng-container matColumnDef="currency">
                    <th mat-header-cell *matHeaderCellDef> Currency</th>
                    <td mat-cell *matCellDef="let element"> {{element.currency}} </td>
                </ng-container>

                <ng-container matColumnDef="contactNo">
                    <th mat-header-cell *matHeaderCellDef> ContactNo</th>
                    <td mat-cell *matCellDef="let element"> {{element.contactNo}} </td>
                </ng-container>
                <ng-container matColumnDef="Email">
                    <th mat-header-cell *matHeaderCellDef> Email</th>
                    <td mat-cell *matCellDef="let element"> ${{element.Email}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>
        </div>


    </mat-card-content>
</mat-card>