
<form [formGroup]="companyForm" class="ng-container">
    <mat-card-title class="title">Add/Update Data</mat-card-title>
    <mat-card>
        <mat-card-content>

            <div class="row">
                <div class="col-md-4">
                    <mat-label>GST NO : </mat-label>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="GST_No">
                        <mat-error *ngIf="companyForm?.get('GST_No')?.invalid">GST No is required.</mat-error>
                    </mat-form-field>
                </div>

                <div class="col-md-4">
                    <mat-label>Name : </mat-label>
                    <mat-form-field appearance="outline"> <input matInput formControlName="Name">
                        <mat-error *ngIf="companyForm?.get('Name')?.invalid">Name is required.</mat-error>
                    </mat-form-field>
                </div>

                <div class="col-md-4">
                    <mat-label>Address :</mat-label>
                    <mat-form-field appearance="outline"> <textarea matInput formControlName="Address"></textarea>
                        <mat-error *ngIf="companyForm?.get('Address')?.invalid">Address is required.</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <mat-label>Latitude :</mat-label>
                    <mat-form-field appearance="outline"> <input matInput formControlName="Latitude">
                        <mat-error *ngIf="companyForm?.get('Latitude')?.invalid">Latitude is required.</mat-error>
                    </mat-form-field>
                </div>

                <div class="col-md-4">
                    <mat-label>Longitude :</mat-label>
                    <mat-form-field appearance="outline"> <input matInput formControlName="Longitude">
                        <mat-error *ngIf="companyForm?.get('Longitude')?.invalid">Longitude is required.</mat-error>
                    </mat-form-field>
                </div>

                <div class="col-md-4">
                    <mat-label>PAN No :</mat-label>
                    <mat-form-field appearance="outline"> <input matInput formControlName="PAN_No">
                        <mat-error *ngIf="companyForm?.get('PAN_No')?.invalid">PAN No is required.</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <mat-label>Country : </mat-label>
                    <mat-form-field appearance="outline"> <input matInput formControlName="Country">
                        <mat-error *ngIf="companyForm?.get('Country')?.invalid">Country is required.</mat-error>
                    </mat-form-field>
                </div>



                <div class="col-md-4">
                    <mat-label>State :</mat-label>
                    <mat-form-field appearance="outline"> <input matInput formControlName="State">
                        <mat-error *ngIf="companyForm?.get('State')?.invalid">State is required.</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-label>City :</mat-label>
                    <mat-form-field appearance="outline"> <input matInput formControlName="City">
                        <mat-error *ngIf="companyForm?.get('City')?.invalid">City is required.</mat-error>
                    </mat-form-field>
                </div>
            </div>


            <div class="row">
                <div class="col-md-4">
                    <mat-label>Code :</mat-label>
                    <mat-form-field appearance="outline"> <input matInput formControlName="Code">
                        <mat-error *ngIf="companyForm?.get('Code')?.invalid">Code is required.</mat-error>
                    </mat-form-field>
                </div>

                <div class="col-md-4">
                    <mat-label>Pincode :</mat-label>
                    <mat-form-field appearance="outline"> <input matInput formControlName="Pincode">
                        <mat-error *ngIf="companyForm?.get('Pincode')?.invalid">PinCode is required.</mat-error>
                    </mat-form-field>
                </div>



                <div class="col-md-4">
                    <mat-label>MobileNo :</mat-label>
                    <mat-form-field appearance="outline"> <input matInput formControlName="MobileNo">
                        <mat-error *ngIf="companyForm?.get('MobileNo')?.invalid">Mobile No is required.</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-label>Email :</mat-label>
                    <mat-form-field appearance="outline"> <input matInput formControlName="Email">
                        <mat-error *ngIf="companyForm?.get('Email')?.invalid">Email is required and must be a valid
                            email</mat-error>
                    </mat-form-field>
                </div>

                <div class="col-md-4">
                    <mat-label>Currency:</mat-label>
                    <mat-form-field appearance="outline">
                        <mat-select formControlName="Currency">
                            <mat-option value="USD">USD</mat-option>
                            <mat-option value="EUR">EUR</mat-option>
                            <mat-option value="GBP">GBP</mat-option>
                            <mat-option value="JPY">Rupees</mat-option>
                        </mat-select>
                        <mat-error *ngIf="companyForm?.get('Currency')?.invalid">Currency is required.</mat-error>
                    </mat-form-field>
                </div>

            </div>
            <form [formGroup]="personalForm" class="ng-container" (ngSubmit)="update() " *ngFor="let data of personalDataListBYId">

                <mat-card>
                    <mat-card-title>Contact Personal Details</mat-card-title>

                    <div >
                    <div class="row">
                        <div class="col-md-4">
                            <mat-label>Name :</mat-label>
                            <mat-form-field appearance="outline"> <input matInput formControlName="Name">
                                <mat-error *ngIf="personalForm?.get('Name')?.invalid">person_name is
                                    required.</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-4">
                            <mat-label>Department :</mat-label>
                            <mat-form-field appearance="outline"> <input matInput formControlName="Department">
                                <mat-error *ngIf="personalForm?.get('Department')?.invalid">department is
                                    required.</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-4">
                            <mat-label>Mobile :</mat-label>
                            <mat-form-field appearance="outline"> <input matInput formControlName="Mobile">
                                <mat-error *ngIf="personalForm?.get('Mobile')?.invalid">contactNo is
                                    required.</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <mat-label>Designation :</mat-label>
                            <mat-form-field appearance="outline"> <input matInput formControlName="Designation">
                                <mat-error *ngIf="personalForm?.get('Designation')?.invalid">designation is
                                    required.</mat-error>
                            </mat-form-field>
                        </div>



                        <div class="col-md-4">
                            <mat-label>Email :</mat-label>
                            <mat-form-field appearance="outline"> <input matInput formControlName="Email">
                                <mat-error *ngIf="personalForm?.get('Email')?.invalid">Email is
                                    required.</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                   
                </div>
                </mat-card>
                <!-- <div class="mat-button" id='personal-data-button'>
                    <button mat-raised-button color="primary">Add</button>
                    <button mat-raised-button color="accent" onclick="this.form.reset()"
                        style="margin-left :10px;">Cancel</button>
                </div> -->
                
            </form>


            <div class="mat-button " id="company-data-button">
               
                <button mat-raised-button color="primary"  (click)="update()">Update</button>
                <button mat-raised-button color="accent" (click)="this.companyForm.reset()"
                    style="margin-left :10px;">Cancel</button>

            </div>
        </mat-card-content>
    </mat-card>

</form>