<form [formGroup]="form" (ngSubmit)="registerForm()">
    <mat-card-title style="text-align: center">Add/Update Data</mat-card-title>
    <mat-card>
        <mat-card-content>

            <div class="row">
                <div class="col-md-4">
                    <mat-label>GST NO : </mat-label>
                    <mat-form-field>
                        <input matInput formControlName="gstNo">
                        <mat-error *ngIf="form?.get('gstNo')?.invalid">GST No is required.</mat-error>
                    </mat-form-field>
                </div>

                <div class="col-md-4">
                    <mat-label>Name : </mat-label>
                    <mat-form-field>
                        <input matInput formControlName="name">
                        <mat-error *ngIf="form?.get('name')?.invalid">Name is required.</mat-error>
                    </mat-form-field>
                </div>

                <div class="col-md-4">
                    <mat-label>Country : </mat-label>
                    <mat-form-field>
                        <input matInput formControlName="country">
                        <mat-error *ngIf="form?.get('country')?.invalid">Country is required.</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <mat-label>Latitude :</mat-label>
                    <mat-form-field>
                        <input matInput formControlName="latitude">
                        <mat-error *ngIf="form?.get('latitude')?.invalid">Latitude is required.</mat-error>
                    </mat-form-field>
                </div>

                <div class="col-md-4">
                    <mat-label>Longitude :</mat-label>
                    <mat-form-field>
                        <input matInput formControlName="longitude">
                        <mat-error *ngIf="form?.get('longitude')?.invalid">Longitude is required.</mat-error>
                    </mat-form-field>
                </div>

                <div class="col-md-4">
                    <mat-label>PAN No :</mat-label>
                    <mat-form-field>
                        <input matInput formControlName="panNo">
                        <mat-error *ngIf="form?.get('panNo')?.invalid">PAN No is required.</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <mat-label>Address :</mat-label>
                    <mat-form-field>
                        <textarea matInput formControlName="address"></textarea>
                        <mat-error *ngIf="form?.get('address')?.invalid">Address is required.</mat-error>
                    </mat-form-field>
                </div>

                <div class="col-md-4">
                    <mat-label>State :</mat-label>
                    <mat-form-field>
                        <input matInput formControlName="state">
                        <mat-error *ngIf="form?.get('state')?.invalid">State is required.</mat-error>
                    </mat-form-field>
                </div>

                <div class="col-md-4">
                    <mat-label>MobileNo :</mat-label>
                    <mat-form-field>
                        <input matInput formControlName="mobileNo">
                        <mat-error *ngIf="form?.get('mobileNo')?.invalid">Mobile No is required.</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <mat-label>Code :</mat-label>
                    <mat-form-field>
                        <input matInput formControlName="code">
                        <mat-error *ngIf="form?.get('code')?.invalid">Code is required.</mat-error>
                    </mat-form-field>
                </div>

                <div class="col-md-4">
                    <mat-label>PinCode :</mat-label>
                    <mat-form-field>
                        <input matInput formControlName="pinCode">
                        <mat-error *ngIf="form?.get('pinCode')?.invalid">PinCode is required.</mat-error>
                    </mat-form-field>
                </div>

                <div class="col-md-4">
                    <mat-label>City :</mat-label>
                    <mat-form-field>
                        <input matInput formControlName="city">
                        <mat-error *ngIf="form?.get('city')?.invalid">City is required.</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <mat-label>Email :</mat-label>
                    <mat-form-field>
                        <input matInput formControlName="email">
                        <mat-error *ngIf="form?.get('email')?.invalid">Email is required and must be a valid email</mat-error>
                    </mat-form-field>
                </div>

                <div class="col-md-4">
                    <mat-label>Currency :</mat-label>
                    <mat-form-field>
                        <input matInput formControlName="currency">
                        <mat-error *ngIf="form?.get('currency')?.invalid">Currency is required.</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <mat-card>
                <mat-card-title style="text-align: center">Contact Personal Details</mat-card-title>
                <mat-card-content>

                    <div class="row">
                        <div class="col-md-4">
                            <mat-label>Name :</mat-label>
                            <mat-form-field>
                                <input matInput formControlName="person_name">
                                <mat-error *ngIf="form?.get('person_name')?.invalid">person_name is
                                    required.</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-4">
                            <mat-label>Department :</mat-label>
                            <mat-form-field>
                                <input matInput formControlName="department">
                                <mat-error *ngIf="form?.get('department')?.invalid">department is required.</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-4">
                            <mat-label>ContactNo :</mat-label>
                            <mat-form-field>
                                <input matInput formControlName="contactNo">
                                <mat-error *ngIf="form?.get('contactNo')?.invalid">contactNo is required.</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-4">
                            <mat-label>Designation :</mat-label>
                            <mat-form-field>
                                <input matInput formControlName="designation">
                                <mat-error *ngIf="form?.get('designation')?.invalid">designation is
                                    required.</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <mat-label>Email :</mat-label>
                            <mat-form-field>
                                <input matInput formControlName="Email">
                                <mat-error *ngIf="form?.get('Email')?.invalid">Email is required.</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-card-content>

    </mat-card>
    <div>
        <button mat-raised-button color="primary" type="submit">Save</button>
        <button mat-raised-button color="accent" onclick="this.form.reset()" style="margin-left :10px;">Cancel</button>
    </div>
</form>